*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.navigation-career__title.tab-active::after,
.content-career .navigation-career__title::after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-link:before {
  content: "\e900";
}

._icon-s-git:before {
  content: "\e901";
}

._icon-s-instagram:before {
  content: "\e902";
}

._icon-slider-arrows:before {
  content: "\e903";
}

._icon-slider-arrows2:before {
  content: "\e904";
}

._icon-s-linkedin:before {
  content: "\e905";
}

._icon-s-mail:before {
  content: "\e906";
}

._icon-s-phone:before {
  content: "\e907";
}

._icon-s-telegram:before {
  content: "\e908";
}

._icon-s-twitter:before {
  content: "\e909";
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
}

body {
  font-family: "Inter";
}

/**
 * Swiper 8.4.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 17, 2023
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.title__label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  /* 12/16 */
  line-height: 2;
  /* 24/12 */
  letter-spacing: 0.625rem;
  /* 7.5/12 */
  color: #656D72;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title__label::before {
  content: "";
  width: 1rem;
  height: 0.125rem;
  /* 2/16 */
  background-color: #D9D9D9;
}

.title__label:not(:last-child) {
  margin-bottom: 0.75rem;
  /* 9/12 */
}

.title__value {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 2.25rem;
  /* 36/16 */
  line-height: 1.25;
  /* 45/36 */
}

.title__value span {
  color: #7E74F1;
}

.title__value__big {
  font-size: 2.75rem;
  /* 44/16 */
  line-height: 2.25rem;
  /* 55/44 */
}

.text {
  line-height: 2rem;
  color: #232E35;
}

.text p:not(:last-child) {
  margin-bottom: 1rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 2.0625rem;
       column-gap: 2.0625rem;
  /* 33/16 */
}

.social__link {
  font-size: 1.375rem;
  /* 22/16 */
  transition: color 0.3s ease 0s;
}

.category-link {
  display: inline-block;
  border: 1px solid #F1F1F1;
  border-radius: 0.25rem;
  /* 4/16 */
  font-size: 0.75rem;
  /* 12/16 */
  line-height: 1.25;
  /* 15/12 */
  color: #656D72;
  padding: 0.25rem 0.5rem;
  transition: all 0.8s ease 0s;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: linear-gradient(#fff, rgba(255, 255, 255, 0.9));
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-height: 123px;
}

.header__logo {
  display: flex;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 5;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.header__logo img {
  width: 9rem;
  height: auto;
  position: relative;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  /* 15/16 */
}

.header__button {
  position: relative;
  z-index: 5;
  border: 0.0625rem solid #F1F1F1;
  border-radius: 0.5rem;
  /* 8/16 */
  padding: 0.9375rem 1.4375rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.21428571rem;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  color: #F1F1F1;
  background-color: #7E74F1;
}

.menu__list {
  display: flex;
  -moz-column-gap: 56px;
       column-gap: 56px;
  flex-wrap: wrap;
}

.menu__item {
  text-align: right;
}

.menu__link {
  font-weight: 500;
  line-height: 1.1875rem;
  /* 19/16 */
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #7E74F1;
}

.icon__menu {
  display: none;
}

.main-section__container {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.main-section__title:not(:last-child) {
  margin-bottom: 3rem;
}

.main-section__text:not(:last-child) {
  margin-bottom: 3rem;
}

.decor-main-section {
  width: 100%;
  justify-self: end;
  max-width: 336px;
}

.decor-main-section__image {
  position: relative;
  padding-bottom: 119.047619%;
  /* 400/336 */
  border-radius: 1rem;
}

.decor-main-section__image::before,
.decor-main-section__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.decor-main-section__image::before {
  z-index: 1;
  background-color: #7E74F1;
  transform: rotate(-9.55deg);
}

.decor-main-section__image::after {
  z-index: 2;
  background: #EAE6FE url("../img/main/main/lines.svg") top right no-repeat;
}

.decor-main-section__picture {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  border-radius: 0 0 0 1rem;
}

.page__services {
  background-color: #FBFBFB;
}

.services-section__container {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-section__skills {
  width: 100%;
  padding-top: 5.375rem;
  /* 86/16 */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 3.5rem;
  /* 56/16 */
  justify-items: center;
}

.services-section__item {
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3.125rem;
  /* 50/16 */
  color: #232E35;
}

.services-section__icon {
  background: #F5F3FE;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 3.5rem;
  /* 56/16 */
}

.services-section__item-title {
  padding: 1.25rem;
  /* 20/16 */
  font-family: "Plus Jakarta Sans";
  line-height: 1.25rem;
  /* 20/16 */
  font-weight: 500;
}

.services-section__item-text {
  font-size: 0.875rem;
  /* 14/16 */
  line-height: 1.5rem;
  /* 24/16 */
}

.portfolio__container {
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio__controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.portfolio__arrows {
  width: 40px;
  height: 40px;
  background: #EAE6FE;
  border-radius: 16px;
  color: #7E74F1;
  font-size: 0.75rem;
  /* 12/16 */
  transition: background-color 0.3s ease 0s;
}

.portfolio__arrows:hover {
  background-color: #bcb0fa;
}

.portfolio__arrows.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.portfolio__arrow-right {
  transform: rotate(-180deg);
}

.portolio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: calc(15px + 85 * ((100vw - 320px) / 1600));
}

.item-portfolio {
  border: 1px solid #f5f5f5;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.item-portfolio__image {
  position: relative;
  padding-bottom: 81.717452%;
  /* 295/361 */
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.8s ease 0s;
}

.item-portfolio__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: transform 0.8s ease 0s;
}

.item-portfolio__body {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.item-portfolio__title {
  flex: 1 1 100%;
}

.item-portfolio__link-title {
  font-weight: 500;
  line-height: 1.25rem;
  /* 20/16 */
  color: #232E35;
  transition: color 0.3s ease 0s;
}

.item-portfolio__link {
  font-size: 0.59375rem;
  /* 9.5/16 */
  transition: color 0.3s ease 0s;
}

.swiper {
  max-width: 100%;
}

.career {
  background-color: #FBFBFB;
}

.career__container {
  padding-top: 8rem;
  padding-bottom: 8rem;
  align-items: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  -moz-column-gap: calc(28px + 116 * ((100vw - 320px) / 1600));
       column-gap: calc(28px + 116 * ((100vw - 320px) / 1600));
  row-gap: calc(28px + 116 * ((100vw - 320px) / 1600));
}

.career__navigation {
  display: grid;
  gap: 0.5rem;
}

.career__content {
  padding-top: calc(10px + 22 * ((100vw - 320px) / 1600));
}

.content-career .tab-active {
  display: block;
}

.content-carer__body {
  display: none;
}

.content-career .navigation-career__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #b4b4b4;
}

.content-career .navigation-career__title::after {
  content: "\e904";
  font-size: 0.875rem;
  transform: rotate(90deg);
}

.content-career__header {
  padding-bottom: calc(20px + 12 * ((100vw - 320px) / 1600));
  border-bottom: 1px solid #F1F1F1;
}

.content-career__title {
  padding-top: 15px;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.27777778rem;
  /* 23/18 */
}

.content-career__title span {
  text-decoration: underline;
}

.content-career__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.content-career__location {
  color: #656D72;
  font-size: 0.875rem;
  /* 14/16 */
  line-height: 1rem;
}

.content-career__location:not(:last-child) {
  margin-bottom: 0.5rem;
}

.content-career__time {
  color: #656D72;
  font-size: 0.875rem;
  /* 14/16 */
  line-height: 1.5rem;
}

.content-career__time:not(:last-child) {
  margin-bottom: 1rem;
}

.content-career__main {
  padding-top: calc(20px + 12 * ((100vw - 320px) / 1600));
}

.content-career__item {
  color: #656D72;
  line-height: 1.1875rem;
  /* 19/16 */
  position: relative;
  padding-left: 1.75rem;
  /* 28/16 */
}

.content-career__item::before {
  content: "";
  background-color: #D9D9D9;
  width: 0.625rem;
  /* 10/16 */
  height: 0.125rem;
  /* 2/16 */
  position: absolute;
  left: 0;
  top: 0.5rem;
}

.content-career__item:not(:last-child) {
  margin-bottom: 1rem;
}

.navigation-career__title {
  text-align: left;
  padding: 0.875rem 1.5rem;
  line-height: 1.1875rem;
}

.navigation-career__title.tab-active {
  transition: all 0.3s ease 0s;
  background: #FFFFFF;
  border-radius: 4px;
  color: #7E74F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.navigation-career__title.tab-active::after {
  content: "\e904";
  font-size: 0.875rem;
}

.skills__container {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills__title {
  margin-bottom: calc(30px + 82 * ((100vw - 320px) / 1600));
}

.skills__body {
  display: grid;
  gap: 2.5rem;
  /* 40/16 */
}

.timeline {
  display: grid;
  gap: 4rem;
  /* 64/16 */
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0.75rem;
  /* 12/16 */
  top: 0.15625rem;
  /* 2.5/16 */
  height: 100%;
  width: 1px;
  background-color: #F1F1F1;
}

.timeline__item {
  position: relative;
  padding-left: 2.5rem;
  /* 40/16 */
}

.timeline__item::before {
  content: "";
  position: absolute;
  left: 0.25rem;
  /* 4/16 */
  top: 0.15625rem;
  /* 2.5/16 */
  height: 100%;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  border-radius: 50%;
  background-color: #F1F1F1;
}

.timeline__item:last-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 95%;
  left: 0.75rem;
  /* 12/16 */
  bottom: 0;
  background-color: #fff;
}

.timeline__title {
  line-height: 1.25rem;
  /* 20/16 */
  font-weight: 500;
}

.timeline__title:not(:last-child) {
  margin-bottom: 0.625rem;
  /* 10/16 */
}

.timeline__text {
  font-size: 0.875rem;
  /* 14/16 */
  line-height: 1.214rem;
  /* 17/14 */
}

.timeline__text:not(:last-child) {
  margin-bottom: 1.5rem;
  /* 24/16 */
}

.timeline__date {
  line-height: 1.0625rem;
  /* 17/16 */
  font-weight: 500;
}

.soft__skills_title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.27777778rem;
  /* 23/18 */
  text-decoration: underline;
}

.soft__skills_title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.soft__skills_content {
  padding-left: 1.2rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
  position: relative;
  border-bottom: 1px solid #F1F1F1;
}

.soft__skills_content span {
  font-size: 1rem;
  color: #7E74F1;
}

.soft__skills_content::before {
  content: "";
  background-color: #D9D9D9;
  width: 0.625rem;
  /* 10/16 */
  height: 0.125rem;
  /* 2/16 */
  position: absolute;
  left: 0;
  top: 0.5rem;
}

.soft__skills_content:not(:last-child) {
  margin-bottom: 1rem;
}

.hard__skills_title {
  padding-top: 1.5rem;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.27777778rem;
  /* 23/18 */
  text-decoration: underline;
}

.hard__skills_title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.content-skills {
  grid-row: span 3;
}

.content-skills__text:not(:last-child) {
  margin-bottom: calc(20px + 44 * ((100vw - 320px) / 1600));
}

.content-skills .content-skills__items {
  display: grid;
  gap: calc(20px + 20 * ((100vw - 320px) / 1600));
}

.content-skills__label {
  font-weight: 500;
  line-height: 1.0625rem;
  /* 17/16 */
}

.content-skills__label:not(:last-child) {
  margin-bottom: 1rem;
}

.content-skills__line {
  background: #F5F3FE;
  height: 8px;
  border-radius: 0.125rem;
  /* 2/16 */
  position: relative;
}

.content-skills__line span {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.125rem;
  /* 2/16 */
  background-color: #7E74F1;
}

.contacts {
  background: #FBFBFB;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contacts__content {
  align-items: center;
  display: flex;
}

.contacts__form {
  flex: 0 1 50%;
}

.contacts__body {
  flex: 0 1 50%;
}

.form {
  display: grid;
  gap: 1rem;
}

.form__item:last-child {
  padding-top: 1.375rem;
  /* 22/16 */
}

.form__input {
  background-color: #fff;
  height: 3rem;
  /* 48/16 */
  width: 100%;
  border-radius: 0.5rem;
  padding: 0rem 1.5rem;
}

.form__input::-moz-placeholder {
  color: #656D72;
}

.form__input::placeholder {
  color: #656D72;
}

.form__input:focus::-moz-placeholder {
  color: #7E74F1;
}

.form__input:focus::placeholder {
  color: #7E74F1;
}

.form__button {
  background-color: #7E74F1;
  padding: 1rem;
  width: 100%;
  color: #F5F3FE;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease 0s;
}

.form__button:hover {
  background-color: #5249be;
}

.form textarea.form__input {
  height: 11.875rem;
  /* 190/16 */
  resize: vertical;
}

.list-contacts {
  display: grid;
  gap: calc(20px + 28 * ((100vw - 320px) / 1600));
}

.list-contacts__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* 24/16 */
}

.list-contacts__item:last-child {
  padding-bottom: 1.375rem;
  /* 22/16 */
}

.list-contacts__icon {
  flex: 0 0 3.5rem;
  /* 56/16 */
  height: 3.5rem;
  /* 56/16 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f3fe;
  border-radius: 1rem;
}

.list-contacts__title {
  font-weight: 500;
}

.list-contacts__title:not(:last-child) {
  margin-bottom: 0.25rem;
  /* 4/16 */
}

.list-contacts__text {
  font-size: 0.875rem;
  /* 14/16 */
  line-height: 171.428571%;
  /* 24/14 */
  transition: color 0.3s ease 0s;
}

.list-contacts__text:hover {
  color: #7E74F1;
}

.footer__container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: calc(20px + 68 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 68 * ((100vw - 320px) / 1600));
}

.footer__social {
  color: #656D72;
}

.footer__copy {
  color: #656D72;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  height: 100%;
  overflow-y: scroll;
}

@media (min-width: 767px) {
  .career__container {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-content: center;
    align-items: start;
    grid-auto-flow: column;
  }

  .career__content {
    grid-row: span 2;
  }

  .skills__body {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-content: center;
    align-items: start;
    grid-auto-flow: column;
  }

  .contacts__body {
    padding-left: calc(20px + 85 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 1200px) {
  .block {
    height: 100vh;
  }
}

@media (max-width: 1300px) {
  .decor-main-section {
    margin-right: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .menu__list {
    -moz-column-gap: 4.6vw;
         column-gap: 4.6vw;
  }

  .services-section__skills {
    gap: 4.66vw;
  }
}

@media (max-width: 767px) {
  .header__container {
    padding-top: 15px;
    min-height: 60px;
    gap: 0.3rem;
  }

  .header__button {
    color: #F1F1F1;
    padding: 0.4rem 1rem;
    background-color: black;
    border: 0.0625rem solid black;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left 0.3s ease 0s;
    background-color: #7E74F1;
    padding: 4.375rem 1rem 2rem 1rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    width: 100%;
    height: 3.05rem;
    background-color: #7E74F1;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    row-gap: 0.3125rem;
    /* 5/16 */
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .menu__link {
    color: #fff;
    font-size: 2rem;
  }

  .menu__link:hover {
    color: #a7a6a8;
  }

  .icon__menu {
    display: block;
    position: relative;
    width: 1.875rem;
    /* 30/16 */
    height: 1.125rem;
    /* 18/16 */
    z-index: 6;
    cursor: default;
  }

  .icon__menu span,
  .icon__menu::before,
  .icon__menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    /* 2/16 */
    background-color: black;
  }

  .icon__menu::before {
    top: 0;
  }

  .icon__menu::after {
    bottom: 0;
  }

  .icon__menu span {
    top: calc(50% - 0.0625rem);
    /* 1/16 */
  }

  .menu-open .icon__menu span {
    width: 0;
  }

  .menu-open .icon__menu::before {
    top: calc(50% - 0.0625rem);
    /* 1/16 */
    transform: rotate(-45deg);
  }

  .menu-open .icon__menu::after {
    bottom: calc(50% - 0.0625rem);
    /* 1/16 */
    transform: rotate(45deg);
  }

  .main-section__container {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .decor-main-section {
    justify-self: center;
    padding: 15px;
  }

  .page__services {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .services-section__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .services-section__skills {
    padding-top: 20px;
  }

  .services-section__item {
    padding: 5vw;
  }

  .portfolio__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .career__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 0px;
  }

  .navigation-career {
    display: none;
  }

  .navigation-career__title {
    padding: 0.5rem;
    margin: 1rem 0rem;
  }

  .navigation-career__title.tab-active::after {
    transform: rotate(-90deg);
  }

  .skills__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .contacts__content {
    flex-direction: column-reverse;
  }

  .contacts__form {
    flex: 0 0 auto;
    width: 100%;
  }

  .contacts__body {
    flex: 0 0 auto;
    width: 100%;
  }

  .footer__container {
    height: 100px;
  }
}

@media (max-width: 600px) {
  .portolio__header {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .decor-main-section {
    margin-right: 0;
  }
}

@media (any-hover: hover) {
  .social__link:hover {
    color: #7E74F1;
  }

  .category-link:hover {
    color: #F1F1F1;
    background-color: #7E74F1;
  }

  .item-portfolio__image:hover {
    opacity: 1;
  }

  .item-portfolio__image:hover img {
    transform: scale(1.05);
  }

  .item-portfolio__link-title:hover {
    color: #7E74F1;
  }

  .item-portfolio__link:hover {
    color: #7E74F1;
  }
}

@media (any-hover: none) {
  .item-portfolio__image {
    opacity: 1;
  }
}