@import url(reset.css);

body {
    background-color: #0D0D11;
    font-family: "poppins";
    font-weight: 300;
    color: #9C9C9C;


}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;

}

[class*="__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.page {
    flex: 1 1 auto;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    background: #3D96F4;
    border-radius: 50px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 157.142857%;
    /* 22/14 */
    transition: background-color 0.3s ease 0s;
}

.button:hover {
    background-color: #9fc4ec;
}

.button_dark {
    background: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
    background: rgba(232, 232, 236, 0.2);
}

@media (max-width:991.98px) {
    .button {
        padding: 14px 20px;
    }
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: #0D0D11;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
    column-gap: 35px;
}

.header__menu {
    flex: 1 1 auto;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    column-gap: 35px;
    flex-wrap: wrap;
    row-gap: 3px;

}

.icon-menu {
    display: none;
}

.menu__link {
    display: block;
    font-size: 16px;
    color: #fff;
    line-height: 162.5%;
    /* 26/16 */
}

.menu__link:hover {
    text-decoration: underline;
}

.cart-header {
    color: #fff;
    align-items: center;
    display: flex;
    gap: 5px;

}

/* .cart-header:hover .cart-header__text{
    text-decoration: underline;
} */
.cart-header__text:hover {
    text-decoration: underline;
}

.cart-header__text {
    font-size: 18px;
    line-height: 155.555556%;
    /* 28/18 */
}

.cart-header__quantity {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;

}

.header__button {
    flex: 0 0 auto;
}

.header__logo,
.header__cart,
.header__button {
    position: relative;
    z-index: 2;
}

@media (max-width:991.98px) {

    .header__container,
    .menu__list {
        column-gap: 25px;
    }

    .header__container {
        min-height: 90px;
    }

}

@media (max-width:767.98px) {

    .header__container,
    .menu__list {
        column-gap: 10px;
    }

    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 2;
        background-color: inherit;
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease 0s;

    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);
    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }

    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: -100%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s;

    }

    .menu__body::before {
        content: "";
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition: left 0.3s ease 0s;
    }

    .menu__list {
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .menu__link {
        font-size: 32px;
    }

    .header__container {
        min-height: 70px;
    }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0;

}

@media(max-width:560px) {
    .header__logo {
        width: 32px;
        flex: 0 0 32px;
        overflow: hidden;
    }

    .cart-header__text {
        display: none;
    }

    .cart-header__quantity {
        width: 50px;
        height: 50px;
        background: url("../img/header/cart.webp") center / 40px no-repeat;
        padding-left: 5px;
    }
}

/* =============================================================================== */

.main {
    padding-top: 160px;
    padding-bottom: 192px;
}

.main__container {
    display: flex;
    gap: 32px;
}

.main__content {
    flex: 0 1 50%;
    align-self: center;
    max-width: 624px;
}

.title {
    font-weight: 500;
    font-size: 51px;
    line-height: 119.607843%;
    /* 61/51 */
    color: #fff;
    max-width: 520px;
    position: relative;

}

.main__title:not(:last-child) {
    margin-bottom: 28px;
}

.main__title::before {
    content: '';
    background: url(../img/main/decor.svg) 0 0/100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    top: -20px;
    left: -32px;

}

.main__text p:last-child {
    padding-bottom: 33px;
}

.text {
    color: #81818B;
    font-size: 16px;
    line-height: 150%;
    /* 24/16 */
}

.text__big {
    color: #9C9C9C;
    font-size: 18px;
    line-height: 150%;
    /* 27/18 */

}

.main_actions {
    display: flex;
    gap: 32px;
}

@media(max-width:560px) {
    .main_actions {
        display: flex;
        justify-content: center;
    }
}

.main__images {
    flex: 0 1 50%;

}

.images-main {
    display: flex;
    justify-content: center;
    gap: 9.615385%;
    /* 60/624 */

}

.images-main__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.images-main__item {
    overflow: hidden;
}

.images-main__item_1,
.images-main__item_4 {
    border-radius: 50% / 29%;
}

.images-main__item_2 {
    border-radius: 50% 50% 0 50%;
}

.images-main__item_3 {
    border-radius: 50% 0% 50% 50%;
}

.images-main__item img {
    max-width: 100%;
}

@media (max-width:1025px) {
    .main {
        padding-top: 120px;
        padding-bottom: 70px;
    }
}

@media (max-width:991.98px) {
    .main {
        padding-bottom: 50px;
    }
}

@media (max-width:767.98px) {
    .main__container {
        flex-direction: column;
    }

}

/* ================================================================================ */

.clients__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    line-height: 157.142857%;
    /* 22/14 */
    color: #fff;
    margin-bottom: 25px;
}

.clients__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width:560px) {
    .clients__title {
        margin-bottom: 0px;
    }
}

/* ================================================================================ */
.services__container {
    display: flex;
    gap: 32px;
    padding-top: 160px;
}

.services__title {
    padding-bottom: 12px;
}

.services__content {
    flex: 0 1 50%;
    align-self: center;
    max-width: 624px;

}

.services__item-title {
    font-weight: 400;
    font-size: 19px;
    line-height: 142.105263%;
    /* 27/19 */
    color: #fff;
}

.services__item-title:not(:last-child) {
    margin-bottom: 10px;

}

.services__items {
    flex: 0 1 50%;
    display: flex;
    gap: 32px;
    justify-content: center;


}

.services__item {
    display: block;
    border-radius: 30px;
    background: rgba(129, 129, 139, 0.1);
    padding: 55px 25px;
}

.services__item:not(:last-child) {
    margin-bottom: 32px;
}

.services__icon:not(:last-child) {
    margin-bottom: 16px;

}

.services__column:first-child {
    padding-top: 48px;
}

.lable {
    display: inline-block;
    font-size: 11px;
    line-height: 154.545455%;
    /* 17/11 */
    letter-spacing: 2px;
    text-transform: uppercase;
    /* color: #9C9C9C; */
    padding: 11px 18px;
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
}

.services__lable:not(:last-child) {
    margin-bottom: 19px;
}

.services__text p:last-child {
    margin-bottom: 33px;
}

@media (max-width:1130px) {
    .services__container {
        flex-direction: column;
    }
}

@media (max-width:1025px) {
    .services {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

@media (max-width:991.98px) {
    .services {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media (max-width:767.98px) {
    .services {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .services__items {
        flex-direction: column;
    }

    .services__column:first-child {
        padding-top: 0px;
    }


}

/* ====================================================================================== */
.why {
    padding-top: 183px;
    padding-bottom: 100px;
}

.why__container {
    display: flex;
    column-gap: 67px;
    row-gap: 32px;
}

.why__images {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.why__images__item {
    overflow: hidden;

}

.why__images__item img {
    max-width: 100%;
}

.why__images__item_1 {
    border-radius: 88% 0% 50% 50%/49% 0 28% 28%;
}

.why__images__item_2 {
    border-radius: 50% 50% 50% 0%;
}

.why__images::before {
    content: '';
    background: url(../img/main/decor.svg) 0 0/100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    left: -8px;
    z-index: -1;
}

.why__content {
    flex: 0 1 50%;
    align-self: center;
}

.why__lable {
    margin-bottom: 43px;
}

.why__title {
    margin-bottom: 40px;
}

.why__text {
    margin-bottom: 30px;
}

.why__lists li {
    position: relative;
    color: #9C9C9C;
    padding-left: 41px;
    min-height: 32px;
    padding-top: 4px;
}

.why__lists li:not(:last-child) {
    margin-bottom: 21px;

}

.why__lists li::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    background: rgba(129, 129, 139, 0.1) url(../img/why/03.svg) center no-repeat;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
}

@media (max-width:1025px) {
    .why {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width:991.98px) {
    .why {
        padding-top: 40px;
        padding-bottom: 40px;
    }

}

@media (max-width:767.98px) {
    .why {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .why__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .why__lable:not(:last-child) {
        margin-bottom: 19px;
    }

}

/* =================================================================================== */
.adventages {
    padding-top: 192px;
    padding-bottom: 100px;

}

.adventages__container {
    display: flex;
    gap: 32px;
}

.adventages__item {
    display: block;
    border-radius: 30px;
    background: rgba(129, 129, 139, 0.1);
    padding: 40px 40px;
    max-width: 350px;
}

.adventages__item-title:not(:last-child) {
    margin-bottom: 32px;
}

.adventages__column {
    gap: 32px;

}

.adventages__item:not(:last-child) {
    margin-bottom: 32px;
}

.adventages__images {
    display: flex;
    align-items: center;
}

.adventages__images__item {
    overflow: hidden;
    border-radius: 0 58% 50% 50%/0 50% 50% 50%;

}

.adventages__images__item img {
    max-width: 100%;
}

@media (max-width:1025px) {
    .adventages {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* .column__1:nth-of-type(1){
        order:1
    }
    .column__2:nth-of-type(2){
        order:3;
    }
    .adventages__images::nth-of-type(3){
        order:2;
    } */
}

@media (max-width:991.98px) {
    .adventages {
        padding-top: 40px;
        padding-bottom: 40px;
    }

}

@media (max-width:767.98px) {
    .adventages {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .adventages__container {
        flex-direction: column;
        align-items: center;
    }

    .adventages__item {
        max-width: unset;
    }

}

/* ===================================================================================== */
.testimonials {
    padding-top: 96px;
    padding-bottom: 96px ;
}

.testimonials__items {
    display: flex;
    gap: 48px;
    padding-top: 64px;
}

.testimonials__elements {
    padding-top: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.testimonials__element p {
    max-width: 760px;
}

.testimonials__title {
    padding-bottom: 12px;
}

.testimonials__item {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 65px 40px;
}
.testimonials__icon{
    display: flex;
}

.testimonials__icon-img {
    max-width: 68px;
    overflow: hidden;
}
.testimonials__icon-img img{
    width: 69px;
    height: 69px;
}

.testimonials__icon-text {
    padding-top: 9px;
    padding-left: 16px;
}

.testimonials__text {
    padding-bottom: 35px;
}

.name__user {
    color: #fff;
    padding-bottom: 7px;
}

.name__company {
    font-size: 14px;
    line-height: 157.142857%;
    /* 22/14 */
}

.testimonials__item-title {
    padding-top: 33px;
    padding-bottom: 34px;
    font-weight: 400;
    font-size: 32px;
    line-height: 140.625%;
    /* 45/32 */
    color: #fff;
}

.icon-img_1 {
    border-radius: 0% 50% 50% 50%;

}

.icon-img_2 {
    border-radius: 50% 0% 50% 50%;
}

.icon-img_3 {
    border-radius: 50% 50% 0% 50%;
}

/* -------------------------- */
.rating1 {
    position: relative;
    font-size: 24px;
    display: inline-block;
    letter-spacing: 5px;


}

.rating1::before {
    display: block;
    content: "★★★★★";

}

.rating__items1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;

}

.rating__item1 {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.rating__lable1 {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #fff;
}

.rating__lable1::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;

}

.rating__item1:checked,
.rating__item1:checked~.rating__lable1 {
    color: #FFC54F;
}

.rating__lable1:hover,
.rating__lable1:hover~.rating__lable1,
.rating__lable1:checked~.rating__lable1:hover {
    color: #fddb98;
}

.rating2 {
    position: relative;
    font-size: 24px;
    display: inline-block;
    letter-spacing: 5px;


}

.rating2::before {
    display: block;
    content: "★★★★★";

}

.rating__items2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;

}

.rating__item2 {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.rating__lable2 {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #fff;
}

.rating__lable2::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;

}

.rating__item2:checked,
.rating__item2:checked~.rating__lable2 {
    color: #FFC54F;
}

.rating__lable2:hover,
.rating__lable2:hover~.rating__lable2,
.rating__lable2:checked~.rating__lable2:hover {
    color: #fddb98;
}

.rating3 {
    position: relative;
    font-size: 24px;
    display: inline-block;
    letter-spacing: 5px;


}

.rating3::before {
    display: block;
    content: "★★★★★";

}

.rating__items3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;

}

.rating__item3 {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.rating__lable3 {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #fff;
}

.rating__lable3::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;

}

.rating__item3:checked,
.rating__item3:checked~.rating__lable3 {
    color: #FFC54F;
}

.rating__lable3:hover,
.rating__lable3:hover~.rating__lable3,
.rating__lable3:checked~.rating__lable3:hover {
    color: #fddb98;
}

/* --------------------------------- */
@media (max-width:1025px) {
    .testimonials {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .testimonials__items {
        display: flex;
        gap: 20px;
    }
    .testimonials__item {
        padding: 55px 20px;
    }

}

@media (max-width:767.98px) {
    .testimonials__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .testimonials__items{
        flex-direction: column;
        padding-top: 30px;
    }
    .testimonials__elements{
        padding-top: 0;
        flex-direction: column;
        align-items:flex-start;

    }
    .testimonials_actions{
        padding-top: 10px;
    }
    .testimonials__lable:not(:last-child) {
        margin-bottom: 20px;
    }
    .testimonials {
        padding-top: 40px;
        padding-bottom: 0px;
    }

}


/* ============================================================================== */

.page__blog {
    padding-top: 96px;
    padding-bottom: 96px;
}

.blog__elements {
    padding-top: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.blog__element p{
    max-width: 740px;
}
.blog__title {
    padding-bottom: 12px;
}

.blog__items {
    display: flex;
    gap: 48px;
    padding-top: 75px;
    
}
.blog__item {
    overflow: hidden;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.blog__item-header {
    position: relative;
}
.blog__item-category{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(129, 129, 139, 0.5);
    border-radius: 0px 10px 0px 0px;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    line-height: 157.142857%; /* 22/14 */
}
.blog__item-img{
    display: block;
    position: relative;
    padding-bottom: 49.238579%; /*194/394*/
}
.blog__item-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    object-fit: cover;
}
.blog__item-text{
    padding: 36px 26px;
}
.blog__date {
    color: rgba(129, 129, 139, 0.9);
    padding-bottom: 20px;

}
.blog__item-title {
    font-weight: 400;
    font-size: 19px;
    line-height: 142.105263%;
    /* 27/19 */
    color: #fff;
}

.blog__item-title:not(:last-child) {
    margin-bottom: 30px;
}
.blog__text {
    padding-bottom: 22px;
}
.read__now {
    font-size: 14px;
    line-height: 157.142857%; /* 22/14 */
    color: #3D96F4;
}
@media (max-width:1025px) {
    .page__blog{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .blog__items {
        gap: 20px;
    }

}

@media (max-width:991.98px) {
    .page__blog{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width:767.98px) {
    .blog__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .blog__items{
        flex-direction: column;
        padding-top: 30px;
    }
    .blog__elements{
        padding-top: 0;
        flex-direction: column;
        align-items:flex-start;

    }
    .blog_actions{
        padding-top: 10px;
    }
    .blog__lable:not(:last-child) {
        margin-bottom: 20px;
    }

}
/* ===================================================================================== */
.page__start{
    padding-top: 96px;
    padding-bottom: 96px;

}
.start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
}
.start__text{
    max-width: 370px;
    
}
.start__text-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 140.625%;
    /* 45/32 */
    color: #fff;
}
.start_actions{
    display: flex;
    gap: 32px;
}
@media (max-width:1025px) {
    .page__start{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .blog__start {
        gap: 20px;
    }

}

@media (max-width:991.98px) {
    .page__start{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width:767.98px) {
    .start__container {
        flex-direction: column;
        align-items: center;
    }
    .start_actions{
        padding-top: 20px;
    }
    .start__text-text{
        padding-top: 20px;
    }
    .page__start{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
/* ========================================================================= */
.footer__container{
    padding-top: 160px;
    padding-bottom: 160px;
}

.footer__columns{
    display: grid;
    gap: 64px;
    grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}

.footer__text{
    padding: 32px 32px 32px 0;
}
.footer__social{
    display: flex;
    gap: 16px;
}

.footer__column-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%; /* 24/20 */
    letter-spacing: 1px;
    color: #FFFFFF;
    
}
.footer__column-title:not(:last-child){
    padding-bottom: 30px;
}
.footer__column-items{
    display: grid;
    gap: 24px;

}
.footer__column-item{
    font-size: 16px;
    line-height: 162.5%; /* 26/16 */
}
.footer__column-link:hover{
    color: #fff;
}

.subscribe__item{
    padding-top: 33px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.subscribe__input{
    width: 100%;
    border: 1px solid rgba(129, 129, 139, 0.3);
    border-radius: 50px;
    padding:14px 10px;
    color: #999999;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    text-align: center;

} 
.footer__bottom-copyright{
    padding: 45px;
}
.footer__container-bottom{
    border-top: 1px solid rgba(129, 129, 139, 0.2);
    display: flex;
    justify-content: center;
}
@media (max-width:1150px){
    .footer__columns{ 
        display: grid;
        gap: 40px;
    }
   
}

@media (max-width:1025px) {
    .footer__columns{
        display: grid;
        gap: 35px;
        grid-template-columns: minmax(auto, 378px) auto auto;
    }
    .footer__column:nth-child(1){
        grid-column: span 3;
    }
    .footer__container{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width:991.98px) {
    .footer__columns{
        gap: 25px;
    }
    .footer__container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
}

@media (max-width:767.98px) {
    .footer__columns{
        gap: 20px;
        grid-template-columns:auto auto;
    }
    .footer__column:nth-child(1){
        grid-column: span 2;
    }
    .footer__column-subscribe:nth-child(4){
        grid-column: span 2;
    }
    .footer__container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}